---
import { getCollection, render } from 'astro:content';
import { format } from 'date-fns';
import Button from '../../components/Button.astro';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}
const { entry  } = Astro.props;
const { Content } = await render(entry);
---
<h1>test</h1>
<Layout
  title={entry.data.title}
  description={entry.body?.slice(0, 160) || ''}
  image={entry.data.cover}
  type="article"
  publishedDate={entry.data.date}
  tags={entry.data.tags}
>
  <div class="mb-10 flex w-full flex-col items-center justify-center py-5">
    <img
      src={entry.data.cover}
      alt={entry.data.title}
      class="mb-10 h-auto w-full rounded-md md:w-2/3"
    />
    <h1 class="text-center text-4xl font-bold dark:text-slate-100">{entry.data.title}</h1>
    <p class="m-0 p-0 dark:text-slate-500">&#183;&#183;&#183;</p>
    <p class="text-gray-500 dark:text-slate-400">
      on {format(new Date(entry.data.date), 'PPPP, p')}
    </p>
  </div>
  <article class="prose prose-xl max-w-none prose-img:mx-auto prose-img:rounded-sm dark:prose-invert">
    <!-- <slot /> -->
    <Content />
  </article>
  <div class="flex w-full items-center justify-center py-10">
    <Button />
  </div>
</Layout>
