---
import { brands } from '../content/data.ts';
import type { Brand } from '../types/index';
---

<section class="my-10 flex w-full flex-col justify-center space-y-5 pb-10" data-animate>
  <h1 class="text-center text-3xl font-semibold text-sky-400">Brands & Clients</h1>
  <p class="text-center text-gray-400 dark:text-slate-500">
    Brands and clients I have worked with.
  </p>
  <div class="slider border py-3 dark:border-slate-700">
    <div class="slide-track">
      {
        brands.map((item: Brand) => (
          <a
            href={item.link}
            target="_blank"
            rel="noopener noreferrer"
            class="mx-10 flex h-20 w-auto items-center justify-center overflow-hidden py-4"
          >
            <img
              src={item.logo}
              height={100}
              width={250}
              alt={item.link}
              class="max-w-full object-cover dark:opacity-70 dark:invert"
            />
          </a>
        ))
      }
      {/* Duplicate for seamless loop */}
      {
        brands.map((item: Brand) => (
          <a
            href={item.link}
            target="_blank"
            rel="noopener noreferrer"
            aria-hidden="true"
            class="mx-10 flex h-20 w-auto items-center justify-center overflow-hidden py-4"
          >
            <img
              src={item.logo}
              height={100}
              width={250}
              alt={item.link}
              class="max-w-full object-cover dark:opacity-70 dark:invert"
            />
          </a>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  @mixin white-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  @mixin dark-gradient {
    background: linear-gradient(to right, rgba(15, 23, 42, 1) 0%, rgba(15, 23, 42, 0) 100%);
  }

  $animationSpeed: 25s;
  $items: 5;

  // Animation
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  // Styling
  .slider {
    background: white;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    :global(.dark) & {
      background: rgb(15, 23, 42);
    }

    &::before,
    &::after {
      @include white-gradient;
      content: '';
      height: 100px;
      position: absolute;
      width: 100px;
      z-index: 2;

      @media only screen and (max-width: 700px) {
        display: none;
      }
    }

    :global(.dark) &::before,
    :global(.dark) &::after {
      @include dark-gradient;
    }

    :global(.dark) &::after {
      transform: rotateZ(180deg);
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(200px * $items * 2);
      align-items: center;
    }
  }
</style>
