---
import { Image } from "astro:assets";
import FAvatar from "../assets/female-avatar.svg";
import Avatar from "../assets/avatar.svg";

interface Props {
  name: string;
  gender: 'F' | 'M';
  role?: string;
  img?: string;
  review: string;
  ref?: string;
  company?: string;
}

const { name, role = '', img, review, ref, company = '', gender } = Astro.props;
const isMale = gender !== 'F';
---

<div class="border shadow w-64 h-auto md:h-[30rem] flex flex-col justify-start items-center px-2 pb-5 md:pb-0">
  <div
    class="w-24 h-24 rounded-full overflow-hidden border-2 border-sky-400 hover:animate-pulse my-5 cursor-pointer"
  >
    {
      img ? (
        <img src={img} class="object-cover" alt={name + " profile photo"} width={96} height={96} loading="lazy" />
      ) : (
        <Image
          src={isMale ? Avatar : FAvatar}
          alt={name}
          class="object-cover -pb-2"
          width={96}
          height={96}
        />
      )
    }
  </div>
  <h4 class="font-semibold">
    {name}
  </h4>
  {role && <h5 class="text-sm text-sky-400">{role}</h5>}
  <a
    href={ref}
    class="transition-colors duration-150 ease-in hover:text-sky-400 font-medium"
    target="_blank"
    rel="noopener noreferrer"
  >
    {company}
  </a>

  <p class={`text-center mt-6 text-zinc-500 ${ review.length >= 300 ?'text-sm':''}`}>{review}</p>
</div>
