---
import { Image } from "@astrojs/image/components";
import FAvatar from "../assets/female-avatar.svg";
import Avatar from "../assets/avatar.svg";

const name = Astro.props.name || "";
const role = Astro.props.role || "";
const img = Astro.props.img || "";
const review = Astro.props.review || "";
const ref = Astro.props.ref;
const company = Astro.props.company || "";
const gender = Astro.props.gender === "F" ? false : true;
---

<div class="border shadow w-64 h-auto md:h-[30rem] flex flex-col justify-start items-center px-2 pb-5 md:pb-0">
  <div
    class="w-24 h-24 rounded-full overflow-hidden border-2 border-red-400 hover:animate-pulse my-5 cursor-pointer"
  >
    {
      img ? (
        <img src={img} class="object-cover" alt="" />
      ) : (
        <Image
          src={gender ? Avatar : FAvatar}
          alt=""
          class="object-cover -pb-2"
          width={200}
        />
      )
    }
  </div>
  <h4 class="font-semibold">
    {name}
  </h4>
  {role && <h5 class="text-sm text-red-400">{role}</h5>}
  <a
    href={ref}
    class="transition-colors duration-150 ease-in hover:text-red-400 font-medium"
    target="_blank"
    rel="noopener noreferrer"
  >
    {company}
  </a>

  <p class={`text-center mt-6 text-zinc-500 ${ review.length >= 300 ?'text-sm':''}`}>{review}</p>
</div>